@import "../_code-hl/color-1";

@primary-color: #98c379;
@text-color: #c0c7d6;

.theme-one-dark {
  .slide-background {
    background: #282C34;
  }
  .slide {
    font-size: 34px;
    font-family: 'Lantinghei SC', -apple-system, serif;
    .content {
      color: @text-color;
    }

    .page-number {
      color: @primary-color;
      font-size: 20px;
      position: absolute;
      bottom: 30px;
      right: 40px;

      &::before {
        content: "< "
      }

      &::after {
        content: " >"
      }
    }

    h1, h2, h3, h4 {
      color: @primary-color;
    }

    h1 {
      font-size: 120px;
    }
    h2 {
      font-size: 80px;
    }
    h3 {
      font-size: 60px;
    }
    h4 {
      font-size: 48px;
    }

    // h5 and h6 will NOT be supported
    //h5 {
    //  font-size: 36px;
    //}
    //h6 {
    //  font-size: 24px;
    //}

    p {
      margin: 0;
    }

    a {
      color: #98c379;
    }

    &.cover, &.section {
      text-align: center;
    }

    .code-hl-1();
  }
}
