@import "utils";

.style(@primary-color, @text-color, @bg-color) {

  @code-bg-color: hsla(hsl(@text-color), 0.2);
  //@shadow: #dddddd66 10px 10px 10px;
  font-size: 24px;

  @import-dir: "@{theme-name}/parts";
  &.theme-@{theme-name} {
    @import (optional) "@{import-dir}/elements";
    @import (optional) "@{import-dir}/cover";
    @import (optional) "@{import-dir}/section";
    @import (optional) "@{import-dir}/page";
    @import (optional) "@{import-dir}/column";
  }

  .slide {

    .content {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      color: @text-color;
      font-family: 'PingFang SC', 'Lantinghei SC', -apple-system, serif;
      height: 100%;
      line-height: 1.5;
      word-wrap: break-word;
      position: relative;

      table {
        width: 100%;
      }

      p {
        code {
          background-color: @code-bg-color;
          padding: 6px 10px;
          border-radius: 4px;
        }
      }

      blockquote {
        .align-center();
        background: #bbbbbb33;
        display: inline-block;

        padding-block-start: 1em;
        padding-block-end: 1em;
        padding-inline-start: 40px;
        padding-inline-end: 40px;

        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;

        p {
          padding: 0 60px;
          color: hsla(hsl(@text-color), 0.7);
        }
      }

      ol {
        list-style: none;
        counter-reset: counter;
        padding-inline-start: 0;

        li {
          counter-increment: counter;

          &::before {
            content: counter(counter) ".  ";
            color: @primary-color;
            font-weight: bold;
          }
        }
      }
    }
  }

  // page number
  .page-number {
    position: absolute;
  }

  .cover .page-number, .section .page-number {
    display: none;
  }

}

.light(@primary-color) {
  .style(
          @primary-color,
    @text-color: hsv(hue(@primary-color), 0.8, 0.2),
    @bg-color: #fff
  )
}

.dark(@primary-color) {
  .style(
          @primary-color,
    @text-color: hsv(hue(@primary-color), 0.05, 0.9),
    @bg-color: #333
  )
}

.text-and-bg-color(@primary-color) {
  .light(@primary-color);
  &.theme-mode-dark {
    .dark(@primary-color)
  }
}

.generate(@scheme) {
  each(@scheme, {
    .theme-scheme-@{key} {
      .text-and-bg-color(
        @primary-color: @value
      )
    }
  });
}
