.img(@max-width, @max-height) {
  // default = large
  img, img[alt='large'] {
    max-height: @max-height;
    max-width: @max-width;
  }

  img[alt='medium'] {
    max-height: @max-height * 0.7;
    max-width: @max-width * 0.7;
  }

  img[alt='small'] {
    max-height: @max-height * 0.4;
    max-width: @max-width * 0.4;
  }
}

.recolored-svg(@svg, @color) {
  @plugin 'inline-svg.less.js';
  @svg-url: inline-svg(@svg, @color);
  background-image: url("@{svg-url}");
}

.recolored-bg(@data-uri, @color) {
  @svg: data-uri(@data-uri);
  .recolored-svg(@svg, @color);
  background-size: cover;
}

.flex-align-middle() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-middle() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.align-center() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.align-left() {
  text-align: left;
}

.align-right() {
  text-align: right;
}
