.section {
  .content {
    .flex-align-middle();

    p {
      color: @text-color;
      font-size: 26px;
    }

    ul {
      font-size: 28px;
      font-weight: bold;
      list-style-type: none;
      padding-inline-start: 0;
    }
  }
}